/*-- scss:defaults --*/
$primary:  #06436e !default;
$font-family-base: 'Source Sans Pro', 'IBM Plex Sans', 'Roboto Regular', 'Helvetica Neue',
'Questrial', 'Lato', 'Merriweather', 'Cabin Regular' !default;
$body-color: rgba(0, 0, 0, 0.9) !default;
$headings-font-family: 'Gelasio', 'Playfair Display', 'Open Sans', 'Source Sans Pro', 'Montserrat' !default;
// Code block
$font-family-monospace: 'Fira Code';
// Fonts;
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=IMB+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
