/*-- scss:defaults --*/
$primary:  #06436e !default;
$font-family-base:  'Questrial',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$body-color: rgba(0, 0, 0, 0.9) !default;
$headings-font-family:  'Questrial', 'Roboto', 'Playfair Display', 'Montserrat'    !default;
// Code block
$font-family-monospace: 'Fira Code';
// Fonts;
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');