/* css styles */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Code block background color */
pre code {
  background-color: #f6f6f6;
  font-size: 14px;
}